body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #628167;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.trainee {
    border: 1px solid #ccc;
    padding: 10
}


.hotbeanslogo {
    position: absolute;
    left: 0px;
    top: 0px;
}

.navlinks li a {
    font-size: 24px !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.profile-daniel-content {
    display: flex;
    align-items: center;
    gap: 20px;

}


.profile-daniel {
    text-align: center;
}

.profile-daniel h2 {
    margin-right: 900px;
}

.profile-chang {
    margin-top: 500px;
}